body {
background-image: -o-linear-gradient url(paper-gif);
background-color: darkgrey;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: multiply;
font-family: cursive;
text-align: center;
color: black;
}








